@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    border : none;
    color: #121212;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.nav-bar-part-1{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 11rem;
}

.nav-bar-part-1-style a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 0.06rem;
}

.nav-bar-icon{
    display: flex;
    align-items: center;
    width: 30%;
}

.nav-bar-icon img{
    height: 100px;
} 

.nav-bar-links{
    font-size: 1.4rem;
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar-link-style i{
    background-color: white;
    color: black;
    font-size: 1.7rem;
    transition: 0.25s ease-in-out;
}

.nav-bar-link-style{
    transition: 0.25s ease-in-out;
}

.nav-bar-link-style:hover{
    margin-bottom: 6px;
}

.nav-bar-part-1-style{
    position: relative;
}

.nav-bar-part-1-style::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-bar-part-1-style:hover::after{
    transform: scaleX(1);
}

.linked-in i{
    color: #085aac;
}
.whatsapp i{
    color: green;
}

.hero-section-content{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-section{
    display: flex;
    align-items: center;
}

.hero-image img{
    height: 650px;
}
.hero-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-heading{
    font-family: "Montserrat" , 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 75%;
    font-weight: bolder;
    font-size: 3.1rem;
    letter-spacing: 0.15rem;
    color: #00241B;
}
.hero-content{
    font-family: "Montserrat" , 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.04rem;
}

.hero-contact{
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-contact a ,i {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    background-color: black;
    color: white;
}
.hero-contact {
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    height: 45px;
}
.hero-contact:hover{
    color: black;
    background-color: white;
}
.color-text{
    color: #4E878C;
}

.hero-contact:hover a{
    color: black;
    background-color: white;
}
.hero-contact:hover i{
    color: black;
    background-color: white;
}

/* About me*/

.about-me-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.about-me-heading{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.about-me-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 60%;
    border-radius: 35px;
    box-shadow: 5px 5px 5px 5px rgb(131, 125, 131);
    transition: 0.5s ease-in-out;
}
.about-me-content:hover{
    transform: scale(1.03);
}
.about-me-content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 70%;
}
.about-me-content-box p{
    color: #00241B;
    line-height: 1.75rem;
    font-family: "Montserrat" , 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
    font-weight: 515;
    letter-spacing: 0.05rem;
}

/*Project Section*/

.project-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.project-style{
    padding-top: 10px;
    font-weight: 850;
    font-size: 1.2rem;
    color: #680544;
    background-color: white;
    text-align: center;
    width: 30%;
    height: 300px;
    box-shadow: 5px 5px 5px 5px rgb(133, 146, 155);
    border-radius: 20px;
    margin-top: 30px;
    transition: 0.5s ease;
}

.project-style:hover{
    margin: 2px;
    transform: scale(1.041);
}

.project-heading{
    font-family: "Montserrat" , 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 5rem;
    font-weight: 600;
    color: #00241B;
    margin-bottom: 3.2rem;
    letter-spacing: 0.1rem;
    font-size: 3.2rem;
    letter-spacing: 0.3rem;
}
.project-1-heading{
    font-family: "Montserrat" , 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    color : #00241B;
    font-size: 1.8rem;
    padding-top : 1rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}
.project-1-content , .project-1-content p{
    font-family: "Montserrat" , 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
}

.project-repo-link{
    margin-top: 1rem;
}

.project-repo-link i{
    background-color: white;
    text-decoration: none;
    font-size: 2rem;
    color: #4a8085;
}
.project-repo-link i:hover{
    color: #00241B;
}



