@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    border : none;
    color: #121212;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.nav-bar-part-1{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 11rem;
}

.nav-bar-part-1-style a{
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 0.05rem;
}

.nav-bar-icon{
    display: flex;
    align-items: center;
    width: 30%;
}

.nav-bar-icon img{
    margin-right: rem;
    height: 100px;
}

.nav-bar-links{
    font-size: 1.4rem;
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar-link-style{
    font-size: 1.7rem;
    transition: 0.2s ease-in-out;
}
.nav-bar-link-style img{
    width: 50px;
    transition: 0.2s ease-in-out;
}
.nav-bar-link-style:hover{
    margin-bottom: 6px;
}

.nav-bar-part-1-style{
    position: relative;
}

.nav-bar-part-1-style::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-bar-part-1-style:hover::after{
    transform: scaleX(1);
}

.linked-in i{
    color: #085aac;
}
.whatsapp i{
    color: green;
}
.hero-image img{
    height: 700px;
    width: 50%;
    padding : 0rem 0rem 2rem 4rem;
}
