@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: #1B1B1B;
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    border : none;
}


.nav-bar{
    height: 30%;
}

.nav-bar-section-part-nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-bar-section-style a{
    text-decoration: none;
    color: white;
}

.nav-bar-section-style{
    position: relative;
    text-decoration: none;
    color: white;
    width: auto;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem;
}
.nav-bar-section-style::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}
.nav-bar-section-style:hover::after {
  transform: scaleX(1);
}

.nav-bar-icon{
    width: 20%;
    height: 20%;
    color: white;
}
